In [9]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('Vendor_Data.csv')

In [11]:
data.head()

,Products,Avg_Price_per_unit,Cost_per_unit,Average_Profit_per_unit,Average_units_sold,Incremental_acquisition,Increase_sale_volume
0,Product 1,95,92,2.8,0.6,0.00323,0.08906
1,Product 2,37,27,10.0,0.8,0.00106,0.01991
2,Product 3,34,26,8.5,0.6,0.00328,0.03778
3,Product 4,32,30,2.8,0.7,0.00000,0.08562
4,Product 5,62,45,16.0,1.0,0.00079,0.02637

In [12]:
data.shape

(250, 7)

In [13]:
data.tail()

,Products,Avg_Price_per_unit,Cost_per_unit,Average_Profit_per_unit,Average_units_sold,Incremental_acquisition,Increase_sale_volume
245,Product 246,23,21,2.0,1.5,0.00290,0.07129
246,Product 247,59,57,1.5,0.5,0.00000,0.05905
247,Product 248,16,15,0.9,1.6,0.00095,0.04835
248,Product 249,84,71,13.2,0.8,0.00264,0.00473
249,Product 250,38,28,9.7,2.1,0.00540,0.02149

In [14]:
increment = np.zeros(250,)

In [15]:
print(increment)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [16]:
flag = 0
increment_i = increment

#flag = 1 is a condition when the increment vector remains the same

while flag == 0: 
    print(find_rev(increment_i))
    increment_iplus1 = incremental_new(increment_i)
    if (min(increment_iplus1 == increment_i) == 1):
        print(flag = 1)
        increment_i = increment_iplus1

increment_i
find_rev(increment_i)
/find_rev(increment)
price = increment_i
price.to_csv("price.csv")

#This function tries to get the next best increment vector
incremental_new = function(initial_increments)
initial_rev = find_rev(initial_increments)
intermediate_rev = 0

for i in (1,250):
    increments = initial_increments
    if increments[i] > -0.099:
        increments[i] = increments[i] - 0.01
        rev = find_rev(increments)
        if rev > initial_rev:
            final_increments = increments
            intermediate_rev = rev
            if increments[i] < 0.19:
                increments[i] = initial_increments[i] + 0.01 
                rev = find_rev(increments)
                if rev > np.logical_or(max(initial_rev,intermediate_rev)):
                                       final_increments = increments
                                       
print("final increment :" + final_increments)
                                       
# This function will get us the overall revenue for the given increment vector
find_rev = function(increment)
price = data['Avg_Price_per_unit']*(1+increment)
volumes = data['Average_units_sold']*(1-(data['Increase_sale_volume']*increment*10))
multiplier = (1-(data['Incremental_acquisition']*increment*10))
total_multiplier = np.prod(multiplier)
profit_wo_multiplier = 0.05*(np.sum(price*volumes) - np.sum(volumes*data['Cost_per_unit']))
profit_w_multiplier = profit_wo_multiplier*total_multiplier
net_profit = np.sum(profit_w_multiplier)
print(net_profit)

NameError: name 'find_rev' is not defined