In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Vendor_Data.csv')

In [3]:
data.head()

,Products,Avg_Price_per_unit,Cost_per_unit,Average_Profit_per_unit,Average_units_sold,Incremental_acquisition,Increase_sale_volume
0,Product 1,95,92,2.8,0.6,0.00323,0.08906
1,Product 2,37,27,10.0,0.8,0.00106,0.01991
2,Product 3,34,26,8.5,0.6,0.00328,0.03778
3,Product 4,32,30,2.8,0.7,0.00000,0.08562
4,Product 5,62,45,16.0,1.0,0.00079,0.02637

In [4]:
data.describe()

,Avg_Price_per_unit,Cost_per_unit,Average_Profit_per_unit,Average_units_sold,Incremental_acquisition,Increase_sale_volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000
mean,60.620000,51.596000,9.034400,1.500400,0.001366,0.050986
std,28.318959,24.182223,7.433913,0.839511,0.001579,0.029084
min,10.000000,9.000000,0.000000,0.100000,0.000000,0.000370
25%,37.000000,32.000000,3.100000,0.800000,0.000000,0.025528
50%,57.000000,50.500000,7.150000,1.400000,0.000690,0.051620
75%,85.750000,71.750000,12.975000,2.200000,0.002560,0.076580
max,110.000000,105.000000,29.700000,3.100000,0.006150,0.099430

In [5]:
data.shape

(250, 7)

In [6]:
increment = np.zeros(data.shape[0])

In [7]:
type(increment)

numpy.ndarray

In [8]:
sum(data['Average_Profit_per_unit']*data['Average_units_sold'])*5/100

164.7635000000001

In [9]:
print(increment)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [10]:
# This function will get us the overall revenue for the given increment vector
def find_rev(increment):
    price = data['Avg_Price_per_unit']*(1+increment)
    volumes = data['Average_units_sold']*(1-(data['Increase_sale_volume']*increment*10))
    multiplier = (1-(data['Incremental_acquisition']*increment*10))
    total_multiplier = np.prod(multiplier)
    profit_wo_multiplier = 0.05*(sum(price*volumes) - sum(volumes*data['Cost_per_unit']))
    profit_w_multiplier = profit_wo_multiplier*total_multiplier
    net_profit = np.sum(profit_w_multiplier)
    return(net_profit)

In [11]:
def incremental_new(initial_increments):
    initial_rev = find_rev(initial_increments)
    intermediate_rev = 0
    for i in (0,249):
        increments = initial_increments
        if(increments[i] > -0.099):
            increments[i] = increments[i] - 0.01
            print(increment[i])
            rev = find_rev(increments)
            if rev > initial_rev:
                final_increments = increments
                intermediate_rev = rev
                if increments[i] < 0.19:
                    increments[i] = initial_increments[i] + 0.01
                    rev = find_rev(increments)
                    if rev > np.logical_or(initial_rev,intermediate_rev):
                        final_increments = increments

    return(final_increments)

In [13]:
flag = 0
increment_i = increment
#flag = 1 is a condition when the increment vector remains the same
while flag == 0 :
    print(find_rev(increment_i))
    increment_iplus1 = incremental_new(increment_i)
    if (min(increment_iplus1 == increment_i) == 1):
        flag = 1
        increment_i = increment_iplus1
print(increment_i)
print(find_rev(increment))

164.29500000000007
-0.01
-0.01
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
164.29500000000007

NameError: name 'net_profit' is not defined

In [21]:
price = data['Avg_Price_per_unit']* (1+increment)

In [20]:
print(price)

0      95.0
1      37.0
2      34.0
3      32.0
4      62.0
       ...
245    23.0
246    59.0
247    16.0
248    84.0
249    38.0
Name: Avg_Price_per_unit, Length: 250, dtype: float64