In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('train_LZdllcl.csv')

In [6]:
df.shape

(54808, 14)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [10]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [11]:
df.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [16]:
df['previous_year_rating'] = df['previous_year_rating'].fillna(0)

In [17]:
df.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.078748,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.496458,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,0.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,2.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [15]:
df.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [19]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le = LabelEncoder()
for i in ['department', 'region', 'education', 'gender','recruitment_channel']:
    df[i] = df[i].astype(str)
    df[i] = le.fit_transform(df[i])

In [24]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,7,25,2,0,2,1,35,5.0,8,1,0,49,0
1,65141,4,6,0,1,0,1,30,5.0,4,0,0,60,0
2,7513,7,2,0,1,2,1,34,3.0,7,0,0,50,0
3,2542,7,7,0,1,0,2,39,1.0,10,0,0,50,0
4,48945,8,10,0,1,0,1,45,3.0,2,0,0,73,0

In [26]:
df.drop(['employee_id'], axis = 1, inplace = True)

In [27]:
X = df.drop(['is_promoted'],axis =1).values

In [29]:
y = df.iloc[:,12].values
print(y)

[0 0 0 ... 0 0 0]

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [31]:
from sklearn.linear_model import LogisticRegression

In [43]:
LogisticRegression?

In [78]:
lr = LogisticRegression()

In [79]:
lr.fit(X_train,y_train)

C:\Users\Vishal Kotian\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [80]:
y_pred = lr.predict(X_test)
print(y_pred)

[0 0 0 ... 0 0 0]

In [81]:
lr.score(X_test,y_test)

0.9179529282977559

In [82]:
lr.predict_proba(X_test)

array([[0.91297376, 0.08702624],
       [0.91694018, 0.08305982],
       [0.93412212, 0.06587788],
       ...,
       [0.79846975, 0.20153025],
       [0.96177178, 0.03822822],
       [0.76479546, 0.23520454]])

In [83]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [84]:
print(classification_report(y_pred=y_pred,y_true=y_test))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96     16728
           1       0.62      0.07      0.13      1542

    accuracy                           0.92     18270
   macro avg       0.77      0.53      0.54     18270
weighted avg       0.90      0.92      0.89     18270

In [85]:
confusion_matrix(y_test,y_pred)

array([[16659,    69],
       [ 1430,   112]], dtype=int64)

In [86]:
accuracy_score(y_test,y_pred)

0.9179529282977559